In [1]:
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix, hstack
from scipy.io import mmread, mmwrite
from scipy.sparse.linalg import svds
import matplotlib.pyplot as plt
# from scipy import sparse
import plotly.express as px
from scipy import sparse
import png
import math
import scipy.linalg as LA
import nodevectors
from sklearn.decomposition import PCA
import seaborn as sns
from tabulate import tabulate
from scipy.stats.mstats import winsorize

In [2]:
ladslist = pd.read_csv("LADs_list_UK_incNI.csv")

In [4]:
ladslist.tail(16)

     Unnamed: 0                                     0
375         375                        North Ayrshire
376         376                    Na h-Eileanan Siar
377         377                        Orkney Islands
378         378                            Inverclyde
379         379                      Shetland Islands
380         380               Antrim and Newtownabbey
381         381                   Ards and North Down
382         382  Armagh City, Banbridge and Craigavon
383         383                   Mid and East Antrim
384         384              Causeway Coast and Glens
385         385                Newry, Mourne and Down
386         386                               Belfast
387         387               Lisburn and Castlereagh
388         388                            Mid Ulster
389         389               Derry City and Strabane
390         390                   Fermanagh and Omagh

In [16]:
A_list = []
for year in range(2005,2011):
    # does 2005-2010 inclusive
    filepath = "A_LAD_" + str(year) + "_UK_v6.mtx" # file name to read in 
    A = mmread(filepath) # temporary
    A = A.todense()
    A = A[0:380,0:380]
    A_list.append(A)
    A = sparse.coo_matrix(A)
    GBfilepath = "A_LAD_" + str(year) + "_GB.mtx"
    mmwrite(GBfilepath, A)

In [17]:
A_list[0].shape

(380, 380)